{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<header>
  <nav>
    <ul class="headings">
      {% case current[0] %}
      <a href="{{ site.url }}">
        <li>
          <img alt="Muddassir Ahmed Khan" class="logo" data-cms-original-src="/images/logo.svg" src="/assets/logo.svg">
        </li>
      </a>
      <a href="{{ site.url }}/blog">
        <li class="btn-nav">Blog</li>
      </a>
      <a href="{{ site.url }}/tags">
        <li class="btn-nav">Tags</li>
      </a>
      <!-- blog -->
      {% when 'blog'%}
      <a href="{{ site.url }}">
        <img alt="Muddassir Ahmed Khan" class="logo" data-cms-original-src="/images/logo.svg" src="/assets/logo.svg">
      </a>
      <li class="current">Blog</li>
      <a href="{{ site.url }}/tags">
        <li class="btn-nav">Tags</li>
      </a>
      {% when 'tags'%}
      <!-- tags -->
      <a href="{{ site.url }}">
        <img alt="Muddassir Ahmed Khan" class="logo" data-cms-original-src="/images/logo.svg" src="/assets/logo.svg">
      </a>
      <a href="{{ site.url }}/blog">
        <li class="btn-nav">Blog</li>
      </a>
      <li class="current">Tags</li>
      
      {% else %}
      <!-- others -->
      <a href="{{ site.url }}">
        <img alt="Muddassir Ahmed Khan" class="logo" data-cms-original-src="/images/logo.svg" src="/assets/logo.svg">
      </a>
      <a href="{{ site.url }}/blog">
        <li class="btn-nav">Blog</li>
      </a>
      <a href="{{ site.url }}/tags">
        <li class="btn-nav">Tags</li>
      </a>
      {% endcase %}
    </ul>
  </nav>
</header>