{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<header>
  <nav>
    <ul>
      {% case current[0] %}
      <li class="current">Home</li>
      <a href="{{ site.url }}/blog">
        <li class="btn-nav">Blog</li>
      </a>
      <a href="{{ site.url }}/tags">
        <li class="btn-nav">Tags</li>
      </a>
      <!-- blog -->
      {% when 'blog'%}
      <a href="{{ site.url }}">
        <li class="btn-nav">Home</li>
      </a>
      <li class="current">Blog</li>
      <a href="{{ site.url }}/tags">
        <li class="btn-nav">Tags</li>
      </a>
      {% when 'tags'%}
      <!-- tags -->
      <a href="{{ site.url }}">
        <li class="btn-nav">Home</li>
      </a>
      <a href="{{ site.url }}/blog">
        <li class="btn-nav">Blog</li>
      </a>
      <li class="current">Tags</li>
      
      {% else %}
      <!-- others -->
      <a href="{{ site.url }}">
        <li class="current btn-nav">Home</li>
      </a>
      <a href="{{ site.url }}/blog">
        <li class="btn-nav">Blog</li>
      </a>
      <a href="{{ site.url }}/tags">
        <li class="btn-nav">Tags</li>
      </a>
      {% endcase %}
    </ul>
  </nav>
</header>